@font-face {
   font-family: OpenSans;
   src: local("OpenSans"), local("OpenSans-SemiBold"),
   url(OpenSans-SemiBold.woff2) format(woff2),
   url(OpenSans-SemiBold.woff) format(woff),
   url(OpenSans-SemiBold.eot) format(eot);
   font-weight: 600;
}
@font-face {
   font-family: Manrope;
   src: local("Manrope"), local("Manrope-Regular"),
   url(Manrope-Regular.woff2) format(woff2),
   url(Manrope-Regular.woff) format(woff),
   url(Manrope-Regular.eot) format(eot);
   font-weight: 400;
}
@font-face {
   font-family: Manrope;
   src: local("Manrope"), local("OpenSans-SemiBold"),
   url(Manrope-Medium.woff2) format(woff2),
   url(Manrope-Medium.woff) format(woff),
   url(Manrope-Medium.eot) format(eot);
   font-weight: 500;
}
@font-face {
   font-family: Poppins;
   src: local("Poppins"), local("Poppins-Regular"),
   url(Poppins-Regular.woff2) format(woff2),
   url(Poppins-Regular.woff) format(woff),
   url(Poppins-Regular.eot) format(eot);
   font-weight: 400;
}
@font-face {
   font-family: Poppins;
   src: local("Poppins"), local("Poppins-SemiBold"),
   url(Poppins-SemiBold.woff2) format(woff2),
   url(Poppins-SemiBold.woff) format(woff),
   url(Poppins-SemiBold.eot) format(eot);
   font-weight: 600;
}
@font-face {
   font-family: Poppins;
   src: local("Poppins"), local("Poppins-Bold"),
   url(Poppins-Bold.woff2) format(woff2),
   url(Poppins-Bold.woff) format(woff),
   url(Poppins-Bold.eot) format(eot);
   font-weight: 700;
}